<a href="https://colab.research.google.com/github/alikharrati/big-data/blob/main/GGE_6505_AS3_Group_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
# Imports
import pandas as pd

In [16]:
pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (1.5.12)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle) (8.0.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.25.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (4.0.0)

In [17]:
import kaggle
from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'

In [18]:
!kaggle datasets list -s "Covid"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
ref                                                title                                                size  lastUpdated          downloadCount  voteCount  usabilityRating
-------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
imdevskp/corona-virus-report                       COVID-19 Dataset                                     19MB  2020-08-07 03:47:47         246634       1868  1.0
meirnizri/covid19-dataset                          COVID-19 Dataset                                      5MB  2022-11-13 15:47:17          21748        551  1.0
sudalairajkumar/covid19-in-india                   COVID-19 in India                                   758KB  2021-08-11 04:14:10         179571       1863  0.9117647
tawsifurrahman/covid19-radiography-database        COVID-19 Radiography Database                       778MB  2022-03-19 13:38:42          60697        796  1.0
gpreda/covid-world-vaccination-progress            COVID-19 World Vaccination Progress                   2MB  2022-03-31 07:55:09          90681       2126  1.0
roche-data-science-coalition/uncover               UNCOVER COVID-19 Challenge                          258MB  2022-05-02 16:35:45          23125       1297  0.875
andrewmvd/covid19-ct-scans                         COVID-19 CT scans                                     1GB  2020-04-23 12:29:33          19383        521  1.0
georgesaavedra/covid19-dataset                     COVID-19 dataset                                      9MB  2022-03-07 02:06:03           9870        164  0.9705882
hendratno/covid19-indonesia                        COVID-19 Indonesia Dataset                            1MB  2022-09-17 06:34:57          25715        328  1.0
sudalairajkumar/covid19-in-usa                     COVID-19 in USA                                      10MB  2020-12-07 06:23:33          24796        297  0.9705882
atilamadai/covid19                                 COVID-19                                            356MB  2023-02-16 07:05:07           2756         52  0.9411765
sudalairajkumar/covid19-in-italy                   COVID-19 in Italy                                   441KB  2020-12-07 06:23:24          17622        255  1.0
iamhungundji/covid19-symptoms-checker              COVID-19 Symptoms Checker                           912KB  2020-03-21 06:05:59          17998        221  1.0
gpreda/covid19-tweets                              COVID19 Tweets                                       28MB  2020-08-30 09:38:38          17654        511  1.0
allen-institute-for-ai/CORD-19-research-challenge  COVID-19 Open Research Dataset Challenge (CORD-19)   18GB  2022-06-06 19:39:40         156772      10307  0.88235295
fireballbyedimyrnmom/us-counties-covid-19-dataset  US counties COVID 19 dataset                         28MB  2023-02-20 22:10:42          20470        440  1.0
tunguz/covid19-genomes                             COVID-19 Genomes                                    405KB  2021-06-17 19:59:48           1235         80  1.0
mariaren/covid19-healthy-diet-dataset              COVID-19 Healthy Diet Dataset                        82KB  2021-02-07 21:50:53          20299        413  1.0
bachrr/covid-chest-xray                            COVID-19 chest xray                                 241MB  2020-05-15 00:30:50          10961        222  0.9411765
kaushiksuresh147/covidvaccine-tweets               Covid Vaccine Tweets                                 64MB  2022-09-15 09:43:12           3673         78  1.0

In [7]:
!kaggle datasets list -s "weather_prediction"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
ref                            title               size  lastUpdated          downloadCount  voteCount  usabilityRating
-----------------------------  ------------------  ----  -------------------  -------------  ---------  ---------------
yeaseen564/weather-prediction  Weather_Prediction   1MB  2022-11-09 16:41:52              9          0  0.47058824

In [8]:

api.dataset_download_files('yeaseen564/weather-prediction',unzip=True)
api.dataset_download_files('imdevskp/corona-virus-report',unzip=True)

In [ ]:
%ls

In [9]:
data=pd.read_csv("country_wise_latest.csv" )

In [10]:
data.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [11]:
data.shape

(187, 15)

In [12]:
Region_group=data.groupby("WHO Region")
Region_group['Deaths'].sum().sort_values()

WHO Region
Western Pacific            8249
Africa                    12223
Eastern Mediterranean     38339
South-East Asia           41349
Europe                   211144
Americas                 342732
Name: Deaths, dtype: int64

In [13]:
Region_group.apply(lambda x: x[['Country/Region', 'Confirmed', 'Deaths']].sort_values(by = 'Deaths', ascending = False).iloc[:3,:])

                           Country/Region  Confirmed  Deaths
WHO Region
Africa                154    South Africa     452529    7067
                      2           Algeria      27973    1163
                      124         Nigeria      41180     860
Americas              173              US    4290259  148011
                      23           Brazil    2442375   87618
                      111          Mexico     395489   44022
Eastern Mediterranean 81             Iran     293606   15912
                      128        Pakistan     274289    5842
                      52            Egypt      92482    4652
Europe                177  United Kingdom     301708   45844
                      85            Italy     246286   35112
                      61           France     220352   30212
South-East Asia       79            India    1480073   33408
                      80        Indonesia     100303    4838
                      13       Bangladesh     226225    2965
Western Pacific       36            China      86783    4656
                      133     Philippines      82040    1945
                      87            Japan      31142     998

In [14]:
Region_group.apply(lambda x: x['Deaths'].describe()).sort_values(by=['mean'])

Deaths,count,mean,std,min,25%,50%,75%,max
WHO Region,,,,,,,,
Africa,48.0,254.645833,1025.735615,0.0,11.75,47.5,105.25,7067.0
Western Pacific,16.0,515.562500,1220.355848,0.0,0.00,14.5,200.25,4656.0
Eastern Mediterranean,22.0,1742.681818,3603.198597,11.0,67.50,330.5,1131.75,15912.0
Europe,56.0,3770.428571,9289.098725,0.0,66.75,398.0,1686.75,45844.0
South-East Asia,10.0,4134.900000,10420.727224,0.0,7.25,31.5,2238.25,33408.0
Americas,35.0,9792.342857,29104.886288,0.0,9.00,115.0,2853.00,148011.0